#ifndef _CREDENTIALS_H_
#define _CREDENTIALS_H_

// WiFi 설정
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

// MQTT 서버 설정
#define MQTT_BROKER_IP "YOUR_MQTT_BROKER_IP"
#define MQTT_USERNAME "YOUR_MQTT_USERNAME"
#define MQTT_PASSWORD "YOUR_MQTT_PASSWORD"
#define MQTT_PORT 1883

#endif
